@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
/* GLOBAL VARIABLES FOR COLOR SCHEME */ 

:root{
  --oxford-blue: rgba(20, 33, 61, 1);
  --orange-web: rgba(252, 163, 17, 1);
  --platinum: rgba(229, 229, 229, 1);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body {
	font-size: 62.5%;
  font-family: 'Comfortaa', 'Helvetica', sans-serif;
  height: 100%;
}


/******************************************
/* LAYOUT
/*******************************************/

.header-logo{
  background-color: var(--oxford-blue);
  width: 100vw;
  text-align: center;
}

.nav-bar{
  background-color: var(--oxford-blue);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  padding: 1rem 2rem;
  height: 100%;
  height: calc(100% - 94px);
  display: block;
  margin: 0 auto;
 }

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#map{
  height: 30vh;
  border-radius: 1.5rem;
  margin: 1rem 2rem;
}

.logo {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  margin: 1rem auto;
  display: inline-block;
}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 0.2rem 0;
  font-size: 1.6rem;
  font-family: 'Roboto', Helvetica, sans-serif;
}


.nav-item > img{
  color: white;
}

.nav-bar > ul{
  display: flex;
}

.nav-bar > ul > li{
  margin: 0.5rem auto;
}

#searchbar{
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  padding: 15px;
  border-radius: 10px;
}

input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
  width: 70%;
}
/* SEARCH INPUT  */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 500px;
 }

 .input {
  width: 100%;
  height: 4rem;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }

 .input::placeholder {
  color: #9e9ea7;
 }

 .input:focus, input:hover {
  outline: none;
  border-color: var(--orange-web);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(252 163 17 / 10%);
 }

 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }


 /* FILTER CONTAINER  */

 .container .group{
  margin: 0 auto;
 }

#places-names {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 5rem;
}

 #places-names > li{
  font-size: 2rem;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
 }

 .dropdown > li {
  font-size: 1.8rem;
  font-family: 'Lora', 'Helvetica', sans-serif;
  line-height: 2rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
 }

 #category-name{
  display: flex;
  align-items: center;
  width: calc(100vw - 4rem);
  height: 3rem;
  padding-left: 1rem;
  background: #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }

 /* LIKE BUTTON  */

.place-name span{
  padding-left: 1rem;
}

.fa-bookmark{
  color: black; 
  background: transparent;
}

.fa-bookmark:active{
  transform: scale(1.4);
  background: rgba(170, 170, 170, 0.062);
  transition: 0.5s;
}

/* FAVOURITES CARD DESIGN */

.card {
  width: 80%; 
  height: 100%; 
  background: var(--oxford-blue);
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  margin: 1.2rem auto;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 10rem;
  height: 10rem;
  border-radius: 6px 6px 0 0;
  min-width: 10rem;
}

.text-content{
  display: flex;
}

.card-image:hover{
  transform: scale(0.98);
}

.fa-trash:hover {
  transform: scale(1.1);
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Comfortaa', 'Helvetica', sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading, .phone-num {
  color: rgb(255, 255, 255);
  text-align: justify;
  padding: 7px;
  line-height: 1.5;
  font-size: .8rem;
  font-family: 'Poppins', 'Helvetica', sans-serif;
}

.heading:hover, .fa-trash:hover {
  cursor: pointer;
}

.fa-trash{
  color: white;
  font-size: 2rem;
}

.card:last-child{
  margin-bottom: 7rem;
}

.main-info{
  display: flex; 
  flex-direction: column;
  padding-left: 1rem;
}

.rating, .phone-num{
  color: white; 
  font-size: 1rem;
  padding: 0;
}

/* NO DATA IN DB INFO CARD */
.user-info{
  display: block;
  width: 90%;
  font-size: 4rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  line-height: 1.5;
}

.user-info > *{
  display: flex;
  flex-direction: column;
}

.user-info > h1 > span{
  font-size: 2.5rem;
}